@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

html,
body,
#__next {
  @apply h-full;
  @apply w-full;
  position: relative;
  cursor: none !important;
}

* {
  cursor: none !important;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ss01 {
  font-feature-settings: 'ss01';
}

.typetester-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px;
  height: 9px;
  background: #000000;
  cursor: pointer;
  border-radius: 100%;
}
.typetester-range::-moz-range-thumb {
  width: 9px;
  height: 9px;
  background: #000000;
  cursor: pointer;
  border-radius: 100%;
}

mux-player {
  /* Hide all controls at once */
  /* --controls: none; */

  /* Target all sections by excluding the section prefix */
  /* --play-button: none; */
  --bottom-controls: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;
  --fullscreen-button: none;
  --cast-button: none;
  --playback-rate-button: none;
  --volume-range: none;
  --time-range: none;
  --time-display: none;
  --title-display: none;
  --duration-display: none;
}

@keyframes animation-leaf {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
