@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

html,
body,
#__next {
  @apply h-full;
  @apply w-full;
  position: relative;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.ss01 {
  font-feature-settings: 'ss01';
}

.typetester-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px;
  height: 9px;
  background: #000000;
  cursor: pointer;
  border-radius: 100%;
}
.typetester-range::-moz-range-thumb {
  width: 9px;
  height: 9px;
  background: #000000;
  cursor: pointer;
  border-radius: 100%;
}
